---
import DashboardLayout from '@/layouts/DashboardLayout.astro'
import Button from '@/components/ui/Button.astro'
import CodeEditor from '@/components/dashboard/Editor.astro'
import CodeForm from '@/components/dashboard/CodeForm.astro'
import ApiKeyForm from '@/components/dashboard/ApiKeyForm.astro'
---

<DashboardLayout class="flex flex-col h-full" style="fit">
  <div class="flex-1 flex flex-col gap-2 overflow-hidden h-full">
    <section class="flex-1 flex flex-col my-1 mx-10 rounded-md border overflow-hidden h-full">
      <header class="flex justify-between items-center py-2 px-6 text-lg font-semibold border-b">
        <h1>Function</h1>
        <div>
          <Button style="pri" class="py-1 px-2">
            Deploy
          </Button>
        </div>
      </header>
      <div class="flex-1 grid md:grid-cols-4 gap-0.5 overflow-hidden h-full">
        <div class="md:col-span-1 hidden md:block overflow-hidden h-full p-2">
          <CodeForm />
        </div>
        <div class="md:col-span-3 overflow-hidden h-full">
          <CodeEditor />
        </div>
      </div>
    </section>
  </div>
</DashboardLayout>

<ApiKeyForm />