<section class="fixed flex gap-2 bottom-0 right-0 mb-2 mr-4 self-end text-sec text-sm font-bold">
  <a 
    href="https://github.com/LipezJ" 
    class="flex gap-1 items-center hover:text-ter"
  >
    Github
  </a>
  <a 
    href="https://github.com/LipezJ/serverless-functions" 
    class="flex gap-1 items-center hover:text-ter"
  >
    Repository
  </a>
</section>