---
import LinkButton from "./ui/LinkButton.astro";
---

<header class="flex max-w-6xl m-auto py-2 px-10 items-center text-text">
  <section class="flex w-full justify-center mr-8 md:mr-0">
    <nav class="flex justify-between gap-4 max-w-64 w-full font-semibold text-base">
      <a href="/">Home</a>
      <a href="/docs">Docs</a>
      <a href="/dashboard">Dashboard</a>
    </nav>
  </section>
  <div class="self-end justify-self-end place-self-end">
    <LinkButton style="pri" href="#" class="py-1.5 px-4">
      SingIn
    </LinkButton>
  </div>
</header>