<link href="/code.css" rel="stylesheet">
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>

<div id="editor" class="editor language-js w-full h-full"></div>

<script>
  import { CodeJar } from "codejar";
  import { codeAtom } from "@/lib/code.store"

  const highlight = (editor: any) => {
    editor.textContent = editor.textContent;
    // @ts-ignore
    hljs.highlightBlock(editor);
  };

  const initEditor = () => {
    const $editor = document.querySelector("#editor");
    // @ts-ignore
    const codeEditor = new CodeJar($editor, highlight);

    codeEditor.onUpdate((code: string) => {
      codeAtom.set(code)
    });

    // @ts-ignore
    codeEditor.updateCode(`function helloWorld() {\n\tconsole.log("Hello, world!");\n}`);
    codeEditor.updateOptions({ tab: "\t" });
  }

  initEditor();
</script>
