---
import LinkButton from '@components/ui/LinkButton.astro';
import { GET } from '../../pages/api/functions/list.ts'

interface Function {
  func_id: string;
  type: string;
}
const response = await GET(Astro);
const functions: Function[] = await response.json();
---

{
  functions.map((func: Function) => (
    <section
      class="grid grid-rows-5 justify-self-center max-w-xl min-w-2xl w-full min-h-40
      text-start bg-main/5 py-2 border border-paragraph/50 rounded-md"
    >
      <article class="row-span-4 px-4 pt-2 h-full">
        <header class="flex justify-between gap-2 items-end">
          <h1 class="text-sec font-semibold text-xl h-full">
            <a href="" class="underline">{func.func_id}</a>
          </h1>
          <LinkButton
            style="pri"
            href={`/dashboard/editor/${func.func_id}`}
            reload={true}
            class="h-fit px-4 py-1.5 text-text"
          >
            edit
          </LinkButton>
        </header>
        <p class="text-paragraph">
          {func.type}
        </p>
      </article>
      <div
        class="text-sm text-end text-gray-600 row-span-1 h-fit px-2 border-t border-paragraph/50"
      >
        Latest update: ~
      </div>
    </section>
  ))
}