---
import LinkButton from "../ui/LinkButton.astro";
---

<header class="flex w-full justify-between items-center py-2 px-10 border-b">
  <div></div>
  <div class="flex items-center gap-2">
    <nav class="">
      <LinkButton style="sec" href="/docs" class="py-1 text-sec px-4">
        Docs
      </LinkButton>
      <LinkButton style="sec" href="/settings" class="py-1 px-2">
        Settings
      </LinkButton>
    </nav>
    <div class="relative size-8 overflow-hidden bg-gray-100 rounded-full">
      <svg 
        class="absolute size-10 text-gray-400 -left-1" 
        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
      >
        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
      </svg>
    </div>  
  </div>
</header>