---
import { fade } from "astro:transitions";

export interface Props {
  style?: "full" | "fit";
}

const style = {
  full: "min-h-dvh ",
  fit: "h-fit border border-paragraph/50",
}
---

<section 
  transition:name="content-slider" 
  transition:animate={fade({ duration: '0.05s' })} 
  class=`${style[Astro.props.style ?? "full"]} bg-main rounded-t-2xl p-2 max-w-6xl mx-auto`
>
  <div class="w-1/5 h-2 mb-4 mx-auto bg-gray-400/70 rounded-xl"></div>
  <slot />
</section>