---
import Header from "@components/dashboard/Header.astro";
import HeadBase from "@components/HeadBase.astro";

export interface Props {
	style?: "full" | "fit";
	class?: string;
}
---

<html lang="en">
	<head>
		<HeadBase />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/highlight.js@11.10.0/styles/vs2015.min.css"
		/>
		<title>Dashboard | ServerLess Functions</title>
	</head>
	<body
		class={`min-h-dvh w-full flex flex-col gap-0 ${Astro.props.style === "fit" && "max-h-dvh"}`}
	>
		<Header />
		<main class={`flex-1 overflow-hidden ${Astro.props.class}`}>
			<slot />
		</main>
	</body>
</html>
