---
import Header from "@/components/dashboard/Header.astro";
import HeadBase from "@/components/HeadBase.astro";
---

<html lang="en">
	<head>
		<HeadBase />
		<title>Astro</title>
	</head>
	<body class="min-h-screen w-full flex flex-col gap-0">
		<Header />
		<main class={`flex-1 overflow-hidden ${Astro.props.class}`}>
			<slot />
		</main>
	</body>
</html>