---
export interface Props {
  style: 'pri' | 'sec';
  id?: string;
  class?: string;
}

const styles = {
  pri: `text-base font-medium text-center text-text 
    rounded-md bg-pri border border-pri focus:ring-4 focus:ring-pri/20`,
  sec: `text-base font-medium text-center border rounded-md box-content
    focus:ring-4 text-sec border-paragraph border focus:ring-gray-200/50`,
}
---

<button 
  id={Astro.props.id}
  class=`
    inline-flex items-center justify-center box-border
    ${styles[Astro.props.style]}
    ${Astro.props.class}
  `
>
  <slot />
</button>