<footer class="m-4 mt-2 bg-sec">
	<div class="mx-auto w-full max-w-screen-xl p-4 py-2 md:py-4">
		<div class="sm:flex sm:items-center sm:justify-between">
			<ul
				class="mb-6 flex flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400 sm:mb-0"
			>
				<li>
					<a href="https://github.com/LipezJ/server-funcs-ai" class="me-4 hover:underline md:me-6">
						GitHub
					</a>
				</li>
				<li>
					<a
						href="https://github.com/LipezJ/linky/blob/master/LICENSE"
						class="me-4 hover:underline md:me-6"
					>
						Licensing
					</a>
				</li>
				<li>
					<a href="https://github.com/LipezJ/" class="hover:underline"> Contact </a>
				</li>
			</ul>
		</div>
		<hr class="mb-2 mt-6 border-gray-200 dark:border-gray-700 sm:mx-auto lg:my-4" />
		<span class="block text-sm text-gray-500 dark:text-gray-400 sm:text-center">
			Made with a lemonade by <a href="https://lipez.vercel.app/" class="underline hover:underline"
				>LipezJ</a
			> 🍋
		</span>
	</div>
</footer>