:root {
  --code-color-keyword: #ff8906;
  --code-color-title: #e53170;
  --code-color-built_in: #e53170;
  --code-color: #fffffe;
  --code-color-string: #f25f4c;
  --code-color-comments: #a7a9beb6;
}

.hljs-keyword {
  font-weight: bolder;
  color: var(--code-color-keyword)
}

.hljs-title {
  color: var(--code-color-title)
}

.hljs-built_in {
  color: var(--code-color-built_in)
}

.hljs-string {
  color: var(--code-color-string)
}

.hljs, .editor {
  color: var(--code-color)
}

.hljs-comment {
  color: var(--code-color-comments)
}
